/* 
#A9907E -marrom 1
#F3DEBA- bege 2
#C96868- bordô
#675D50 - marrom 4 */
.imagens{
    width: 450px;
    border-radius: 10px;
    border: solid 5px #F3DEBA;
}
body{
    background-color: #734046;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px 10px 15px;
    background-color: #321F28;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.logo-cafeteria {
    height: 80px;
    margin-left: 10px;
    border-radius: 10px;   
}

.menu-container {
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    gap: 25px;
}

.link {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #F3DEBA;
    font-size: 25px;
}

.container-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 25px;
}
.text-home{
    font-family: 'Architects Daughter', cursive;
    width: 420px;
    color: #F3DEBA;
    font-size: 22px;
}
